{% extends "common.html" %}
{% block title %}Index{% end %}

{% block head %}
    <script type="text/javascript">
        var i = 0;

        $(function(){
            $("#btnClick").click(function() {
                $.getJSON("/test/json/" + i, function(data) {
                    $("#btnClick").text("getJSON: {0}, {1}".format(data.message, data.i));
                    i = parseInt(data.i);
                });
            });
        });
    </script>
{% end %}

{% block body %}
    {{ time }}: Welcome...<br />
    <a id="btnClick" href="javascript:void(0)">getJSON</a>
{% end %}
